body {
  font-family: 'Roboto', sans-serif;
  background-color: #3a3a3a;
  color: #e6e6e6;
  font-size: large;
  margin: 10px 20vw 0 20vw;
}

canvas,
img {
  margin: 10px 0 10px 0;
  width: 60vw;
  height: auto;
}

code {
  background-color: #676767;
  padding: 0px 4px 1px 4px;
  border-radius: 3px;
  font-family: monospace;
}

a{
  text-decoration: none;
  color: #ff91d7;
  transition: all 0.2s;
}

a:hover {
  color: #00cbf1;
}

textarea {
  margin-top: 10px;
  width: 100%;
}

h1 {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.canvasDiv{
  margin-bottom: 10px;
}

#chartDiv {
  height: 500px;
}

canvas {
  cursor: crosshair;
}

.white-bg {
  background-color: white;
}

.padding-10px {
  padding: 10px;
}
